body {
    height: 100vh;
}

.top-sheet {
    height: 100vh;
    margin: 5%;
}

.txt-1 {
    font-family: 'Josefin Sans', sans-serif;
}

.txt-2 {
    font-family: 'Alkatra', cursive;
}

.bx-shadow{
    box-shadow: 10px 5px 5px slategrey;
}

.bx-shadow:hover{
    box-shadow: 10px 5px 5px black;
}